<div>
  <br>
  <mat-card>
      <form [formGroup]="editForm" class="edit-form">
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Nome" formControlName="name" #name>
          </mat-form-field>

          <mat-divider></mat-divider>
          <br><br>
          <button mat-raised-button color="accent" routerLink="/tasks">Voltar</button>
          <button type="submit" (click)="updateTask(name.value)" [disabled]="editForm.pristine || editForm.invalid" mat-raised-button
            color="primary">Salvar</button>
        </form>
  </mat-card>
</div>
