<div>
  <br>
  <mat-card>
      <section class="mat-typography">
        <h3>Criar nova Task</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="createForm" class="create-form">
        <mat-form-field class="field-full-width">
          <input matInput placeholder="Nome" formControlName="name" #name>
        </mat-form-field>

        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/tasks">Voltar</button>
        <button type="submit" (click)="addTask(name.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button
          color="primary">Criar</button>
      </form>
    </mat-card>
</div>
