table {
  width: 100%;
}

.field-full-width {
  width: 100%;
}

.mat-column-right {
  text-align: center;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.pagination a.active {
  background-color: #673ab7;
  color: white;
  border: 1px solid #673ab7;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
