<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/create">Criar nova Task</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <mat-form-field class="field-full-width">
      <input #imp matInput placeholder="Filtro pelo nome" (keyup)="onKeyUp(imp)">
    </mat-form-field>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="tasks">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Ações</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="primary" (click)="editTask(element.id)">Editar</button>
          <button mat-button color="warn" (click)="deleteTask(element.id)">Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
  <br>
  <div class="center">
    <div class="pagination">
      <a #fb class="active" (click)='goToPage(1); setSelected(fb);'>Primeira</a>
      <a #sb *ngFor="let num of arrayTotalPages" (click)="goToPage(num); setSelected(sb);">{{num}}</a>
      <a #tb (click)="goToLastPage(); setSelected(tb);">Última</a>
    </div>
  </div>
